/** Reset */

:root {
	--color-wenetflix: #b50911;
}

body {
	background-color: #141414;
	color: #fff;
}

p {
	margin-bottom: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.bg-wenetflix {
	background-color: var(--color-wenetflix) !important;
}

.text-wenetflix {
	color: var(--color-wenetflix);
}

.row {
	margin: 0;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-netflix {
	background-color: var(--color-wenetflix);
	color: #fff;
}
.btn-netflix:hover {
	background-color: rgb(154, 3, 3);
	color: #fff;
}


/* linear-gradient(0deg, #181818, transparent 50%); */
.box-banner {
	background: linear-gradient(to top, #141414 10%, rgba(24, 24, 24, 0.2)),
		url("../img/recursos/banner-3.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: calc(100vh - 64px);
	margin-top: -64px;
	z-index: -1;
	position: relative;
}

.box-banner .box-info {
	position: absolute;
	top: 45%;
	left: 5%;
	max-width: 500px;
}
.box-banner .box-info p {
	color: #fff;
	font-size: 1.2vw;
	font-weight: 400;
	line-height: normal;
}

.list-navbar li.nav-item a {
	color: #fff;
	font-weight: 500;
}

.swiper {
	width: 90%;
}

.box-swiper {
	margin-top: -120px;
	cursor: pointer;
}

.number-swiper {
	color: #222;
	font-size: 18rem;
	font-weight: bold;
	line-height: 0.65;
	position: absolute;
	-webkit-text-stroke: 5px rgb(110, 110, 110);
}

.swiper-slide {
	display: flex !important;
	max-width: 290px !important;
	height: auto !important;
	position: relative;
}

img.imgSlider {
	width: 160px;
	height: auto;
	margin-left: 120px;
	z-index: 2;
}



/* ABOUT */

.about {
	margin-top: 100px;
	/* background-color: red; */
}

.about .box-text {
	padding: 10px;
	max-width: 500px;
	/* background-color: aqua; */
}

.about .box-text h3 {
	font-size: 4rem;
}

/* MOVIES */

.movies {
	margin-top: 100px;
}

.box-movies img {
	width: 200px;
	height: 300px;
}

.box-movies {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 10px;
}

.box-movies .box-card {
	position: relative;
}
.box-movies .box-card .box-rating {
	background-color: rgba(24, 24, 24, 0.7);
  border-radius: 4px;
  padding: 2px 7px;
	color: #fff;
	position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  right: 10px;
  bottom: 10px;
}
.box-rating img {
  width: 12px;
  height: auto;
}
.box-rating span {
	font-size: .7rem;
  margin-left: 5px;
	line-height: normal;
}


.box-movies .box-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.3s ease; /* Transición suave para la opacidad */
}

.box-movies .box-card:hover::before {
  opacity: 1; /* Mostrar el overlay al hacer hover */
}

/* Estilos para el contenido del overlay (opcional) */
.box-movies .box-card:hover .box-rating {
  display: flex; /* Mostrar el contenido del overlay al hacer hover */
}

/* PRICING */

.plans {
	margin-top: 100px;
}

.plans .box-price {
	/* border: 1px solid #fff; */
	background-color: #212125;
	padding: 40px 30px;
	border-radius: 1rem;
	width: 90%;
	max-width: 900px;
	cursor: pointer;
}



.box-price .price-info .title-caption {
	font-size: 12px;
	color: var(--color-wenetflix);

}
.box-price .price-info .title-price {
	font-size: 3rem;
	line-height: 1;
	font-weight: bold;
}
.box-price .price-info .title-type {
	font-size: 12px;
}

.plans .box-price:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 20px rgba(181, 9, 17, .5);
}